# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [2]:
import numpy as np
from datascience import *

In [ ]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

## From the [Demo Request](https://forms.gle/aPK6vTf3FdQwmMVG8): 
### [Homework04](https://skyline.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fb00chan%2Fmath211_fall23_skyline&urlpath=tree%2Fmath211_fall23_skyline%2Fhw%2Fhw04%2Fhw04.ipynb&branch=main) (Section 2, Question 5)

In [3]:
#Setting up and importing data
full_sf = Table.read_table("sf2019.csv")
sf = full_sf.select("Job", "Department", "Organization Group",  "Total Compensation")

**Question 5.** Find the number of departments appearing in the `sf` table that have an average total compensation of greater than 125,000 dollars; assign this value to the variable `num_over_125k`. **(9 Points)**

*Hint:* The variable names provided are meant to help guide the intermediate steps and general thought process. Feel free to delete them if you'd prefer to start from scratch, but make sure your final answer is assigned to `num_over_125k`!

In [4]:
sf

Job                            | Department      | Organization Group | Total Compensation
IS Trainer-Journey             | Adult Probation | Public Protection  | 131391
IS Engineer-Assistant          | Adult Probation | Public Protection  | 172520
IS Business Analyst-Senior     | Adult Probation | Public Protection  | 162468
IS Business Analyst-Principal  | Adult Probation | Public Protection  | 216706
IS Programmer Analyst          | Adult Probation | Public Protection  | 98706
IS Project Director            | Adult Probation | Public Protection  | 236572
IT Operations Support Admin IV | Adult Probation | Public Protection  | 173269
Accountant III                 | Adult Probation | Public Protection  | 158135
Statistician                   | Adult Probation | Public Protection  | 126624
Senior Administrative Analyst  | Adult Probation | Public Protection  | 163843
... (44515 rows omitted)

### Let's do a parallel question! On our [Math 211 Class Survey](https://forms.gle/5JXfmkKf5ALgwh3M9)!

#### **"Parallel" Question: How many different fears do introverts have?** 

Find the number of different fears appearing in the `math211_survey` table that have an average introversion/extroversion score of at most 3 (i.e. self-reported introverts); assign this value to the variable `num_introvert_fears`. **(9 Billion Points)**

In [7]:
# Let's import the Math 211 Class Survey
math211_survey = Table.read_table('Math211_FallSurvey.csv')
math211_survey

Timestamp       | Surveyor     | GPA  | introversion/extroversion | Pets                 | Handed       | Sleep Position | K-Pop | K-Pop Group | travel destination | Birthplace                | Transfer destination | Fear                                   | Music Genre | Color
8/17/2023 16:33 | Christian Le | 2.86 | 6                         | Dogs                 | Right-handed | On my side     | Yes   | Le Sserafim | Japan              | Local                     | UC                   | Working                                | Pop         | Red
8/17/2023 16:34 | Christian Le | 4    | 8                         | nan                  | Right-handed | On my back     | Yes   | Le Sserafim | Switzerland        | Local                     | UC                   | A regretful life                       | All         | Black
8/17/2023 16:38 | Christian Le | 2.5  | 8                         | Cats                 | Right-handed | On my stomach  | Yes   | Seventeen   | Hawaii             | Local                     | UC Transfer          | Death, Spiders                         | R&B, K-POP  | Green
8/17/2023 16:38 | Christian Le | 3.96 | 6                         | Cats                 | Right-handed | On my side     | Yes   | STAYC       | Costa Rica         | Local                     | UC Grad              | Loss of loved ones                     | R&B, K-POP  | Purple
8/17/2023 16:54 | Christian Le | 2.98 | 6                         | nan                  | Left-handed  | On my side     | Yes   | New Jeans   | Hawaii             | Local                     | nan                  | Death                                  | R&B         | Green
8/17/2023 16:55 | Christian Le | 3.8  | 8                         | Dogs                 | Right-handed | On my side     | Yes   | New Jeans   | Hawaii             | Local                     | UC                   | Being alone                            | R&B         | Blue
8/17/2023 17:00 | Christian Le | 4    | 3                         | nan                  | Right-handed | On my back     | No    | nan         | Japan              | California (not Bay Area) | CSU                  | Not being accepted into career program | Hip hop     | Khaki
8/17/2023 18:13 | Christian Le | 4    | 2                         | Cats, Dogs, Reptiles | Both         | On my stomach  | Yes   | New Jeans   | Dubai              | Local                     | UC                   | Insects                                | Pop         | Red
8/17/2023 20:38 | Casey So     | 3.86 | 3                         | Dogs                 | Right-handed | On my back     | Yes   | Seventeen   | Korea              | Local                     | UC                   | Birds                                  | Pop         | Light Blue
8/17/2023 20:43 | Casey So     | 3.2  | 4                         | nan                  | Right-handed | On my side     | Yes   | Twice       | Philippines        | Local                     | UC                   | Death                                  | Pop         | Blue
... (222 rows omitted)

# Using Pivot Tables to Analyze Credit/Debit Card Statements

Importing the csv file and storing it in the `spending` table

In [ ]:
spending = Table.read_table('...')

In [ ]:
#Take a look at all of your expenses
spending.show()

Now, let's reformat our transaction dates so that it only reports the month and year. We aim to examine how our spending habits change month-to-month.

In [ ]:
def extract_month_year(date):
    ...
    return ...

Let's use the function we just created to add a new column to our `spending` table.

In [ ]:
#creates the array of outputs from our transaction month/year function
transaction_month = spending.apply(extract_month_year,'') 

#Now we add that array to the spending table
spending = spending.with_column( '' , transaction_month)

In [ ]:
#Time to pivot!
...