# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [ ]:
import numpy as np
from datascience import *

In [ ]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

# Comparison Expressions and Operations

In [ ]:
2>3

In [ ]:
#
x = 4
x >= 3

In [ ]:
#
y = 7
x <= y

In [ ]:
#
x == y

In [ ]:
#
c = x*3
c == 6

In [ ]:
#
x != 3

In [ ]:
#
x < c < y

# Aggregating Comparisons

In [ ]:
#
this = make_array(1,2,3,4,5,6,7,8)
this >= 5

In [ ]:
#
drinks = make_array('Coffee','Latte','Mocha','Coffee','Frappacino')

In [ ]:
#
drinks == 'Coffee'

In [ ]:
#
sum(drinks == 'Coffee')

# Practice with `Spotify`

About `spotify` 

One of the biggest music streaming platform, but who's the biggest streamed here? This dataset which is webscrapped and accumulated all the stream metrics of each artist and their respective songs.<br>

Position - Spotify Ranking <br>
Artist Name - Artist Name <br>
Song Name - Song Name <br>
Days - No of days since the release of the song (Updated) <br>
Top 10 (xTimes) - No of times inside top 10 <br>
Peak Position - Peak position attained <br>
Peak Position (xTimes) - No of times Peak position attained <br>
Peak Streams - Total no of streams during Peak position <br>
**Total Streams **- Total song streams

In [ ]:
spotify = Table.read_table('Spotify_final_dataset.csv')
spotify

## Practice question:

#### In the cell above, we saved a data table of Spotify Top 10000 streamed songs. Let's load the cell below with an array containing the peak position of each song.

#### Let's construct an array that tells us whether each song reached the #1 peak position.

#### Now use the sum function to determine the number of songs in this dataset which peaked at #1.

#### This line of thinking is *very similar* to a method we have gotten quite familiar with recently. Use that method to verify our solution we just found.

# Control Statements 'If'

In [ ]:
x = 20
s = 'You are 20'

In [ ]:
if x >= 18:
    s = 'You can legally vote'
s

In [ ]:
if x >= 21: 
    s = 'You may enter this bar/nightclub'
s

In [ ]:
x = 25

In [ ]:
if x >= 21: 
    s = 'You may enter this bar/nightclub'
s

In [ ]:
def age(input_age):
    if input_age >= 18:
        return 'You can legally vote'
    if input_age >= 21:
        return 'You can legally drink'

In [ ]:
age(25)

In [ ]:
age(20)

In [ ]:
age(3)

awkward.... Let's fix the age function below:

In [ ]:
def age(input_age):
    if input_age >= 21:
        return 'You can legally drink'
    elif input_age >= 18: #this only gets checked if the 'if' condition above is false
        return 'You can legally vote'
    else: #only runs if all the if/elif conditions above were false
        return 'You can legally drink milk'

# Control Statements 'for' a.k.a. the 'for'-loop

In [ ]:
for pet in make_array('cat','dog','rabbit','ferret'):
    print('I love my '+ pet)

In [ ]:
for i in np.arange(5):
    print(i)

#### Exercise:
Let's use a for-loop to code for a song that is **extremely** repetitive: "99 bottles of Beer"...

#### Exercise:
Consider the following string:

In [ ]:
STEM_Center_Webpage_string = 'The Skyline College STEM Center brings together academic and student support services for students taking science, technology, engineering and math courses.The center supports student success by ensuring students have access to resources such as academic tutoring, counseling services, a resource depository for STEM pathways and transfer, a hub for internships and work based learning opportunities, as well as a place where students and staff can collaborate and build a community and supportive connection. This STEM Center was brought to campus by a U.S. Department of Education, Title V, Developing Hispanic-Serving Institutions Program “Strengthening Pathways to Success in STEM” grant awarded in 2018.'
STEM_Center_Webpage_string

We'll use the `.split()` method to store each word into a list:

In [ ]:
STEM_split = STEM_Center_Webpage_string.split()
#STEM_split

Now, use a for-loop to check the list to see how many times 'student' is mentioned on the webpage

# Random Selection

## 'np.random.choice' will help us produce arrays that are randomly generated
Consider the array of food we could get at the Sky Cafe here on campus:

In [ ]:
cafe_lunch_options = make_array('Salad Bar','Chicken Tendies','Quesadilla','Burger','Just hella fries',
                                'Daily Special','Sandwich','Cup Noodle')
cafe_lunch_options

#### I forgot to bring my lunch from home today, what am I getting? Run the cell below:

In [ ]:
np.random.choice(cafe_lunch_options)

#### Allison also forgot hers. She said, "I don't know, surprise me." What are we each getting?

## Appending items to arrays and other arrays to arrays

## 'tbl.sample' will help produce smaller tables that are randomly generated