# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [1]:
import numpy as np
from datascience import *

# Building Tables

In [2]:
math211_survey = Table.read_table('Math211_FallSurvey.csv')
math211_survey.show(4)

In [3]:
subscription = make_array('Netflix','HBO Max','Hulu','Crunchyroll','Spotify','DoorDash','AmazonPrime','Discord Nitro')
subscription

array(['Netflix', 'HBO Max', 'Hulu', 'Crunchyroll', 'Spotify', 'DoorDash',
       'AmazonPrime', 'Discord Nitro'],
      dtype='<U13')

In [4]:
#Amazon and Discord are annual fees
month_fee_cost = make_array(19.99,14.99,9.99,9.99,9.99,9.99,(130/12),(169.97/12))
month_fee_cost

array([ 19.99      ,  14.99      ,   9.99      ,   9.99      ,
         9.99      ,   9.99      ,  10.83333333,  14.16416667])

In [5]:
bryans_monthly_subscriptions = Table().with_columns('Subscription',subscription,'$$ per month',month_fee_cost)
bryans_monthly_subscriptions

Subscription  | $$ per month
Netflix       | 19.99
HBO Max       | 14.99
Hulu          | 9.99
Crunchyroll   | 9.99
Spotify       | 9.99
DoorDash      | 9.99
AmazonPrime   | 10.8333
Discord Nitro | 14.1642

In [6]:
#annual_cost = bryans_monthly_subscriptions.column('$$ per month') * 12
#OR, below
annual_cost = month_fee_cost *12 
annual_cost

array([ 239.88,  179.88,  119.88,  119.88,  119.88,  119.88,  130.  ,
        169.97])

In [7]:
new_table = bryans_monthly_subscriptions.with_column('$$ each year',annual_cost)#.drop('$$ per month')
new_table

Subscription  | $$ per month | $$ each year
Netflix       | 19.99        | 239.88
HBO Max       | 14.99        | 179.88
Hulu          | 9.99         | 119.88
Crunchyroll   | 9.99         | 119.88
Spotify       | 9.99         | 119.88
DoorDash      | 9.99         | 119.88
AmazonPrime   | 10.8333      | 130
Discord Nitro | 14.1642      | 169.97

In [8]:
sum(annual_cost)

1199.25

In [9]:
new_new = new_table.take(np.arange(4))

In [10]:
#since new_table.take() was not assigned to a variable (old or new) the result of the .take() method was not saved
new_table

Subscription  | $$ per month | $$ each year
Netflix       | 19.99        | 239.88
HBO Max       | 14.99        | 179.88
Hulu          | 9.99         | 119.88
Crunchyroll   | 9.99         | 119.88
Spotify       | 9.99         | 119.88
DoorDash      | 9.99         | 119.88
AmazonPrime   | 10.8333      | 130
Discord Nitro | 14.1642      | 169.97

In [11]:
new_new

Subscription | $$ per month | $$ each year
Netflix      | 19.99        | 239.88
HBO Max      | 14.99        | 179.88
Hulu         | 9.99         | 119.88
Crunchyroll  | 9.99         | 119.88

# Order of Operations with tables

Let's run the cell below and take a look at the following movie dataset:

In [12]:
movies = Table.read_table('Movies - Cleaned.csv')
movies.show(5)

## Question: How many movies in this data set were sequels?

In [16]:
movies.where('Order',are.above(1)).num_rows

490

In [17]:
sequel_movies = movies.where('Order',are.above(1))

In [19]:
sequel_movies.num_rows

490

## How many movies had sequels that were rated higher than the original? On average, do they perform better, or worse?

In [21]:
movies.show(4)

In [23]:
sequel_movies.show(2)

In [25]:
original_movies = movies.where('Order',are.equal_to(1))
original_movies

index | Title                  | Release Date | Year | Description | URL                                   | IMDb Rating | Runtime (mins) | Genres                                    | Num Votes | Directors                     | Movie Series           | Order
0     | 101 Dalmatians         | 18-11-1996   | 1996 | nan         | https://www.imdb.com/title/tt0115433/ | 5.7         | 103            | Adventure, Comedy, Crime, Family          | 98439     | Stephen Herek                 | 101 Dalmatians         | 1
2     | 12 Rounds              | 19-03-2009   | 2009 | nan         | https://www.imdb.com/title/tt1160368/ | 5.6         | 108            | Action, Crime, Thriller                   | 26828     | Renny Harlin                  | 12 Rounds              | 1
4     | 21 Jump Street         | 12-03-2012   | 2012 | nan         | https://www.imdb.com/title/tt1232829/ | 7.2         | 109            | Action, Comedy, Crime                     | 498876    | Christopher Miller, Phil Lord | 21 Jump Street         | 1
6     | 28 Days Later...       | 01-11-2002   | 2002 | nan         | https://www.imdb.com/title/tt0289043/ | 7.6         | 113            | Drama, Horror, Sci-Fi, Thriller           | 366735    | Danny Boyle                   | 28 Days Later...       | 1
8     | 30 Days of Night       | 16-10-2007   | 2007 | nan         | https://www.imdb.com/title/tt0389722/ | 6.6         | 113            | Action, Horror, Thriller                  | 160930    | David Slade                   | 30 Days of Night       | 1
9     | 48 Hrs.                | 08-12-1982   | 1982 | nan         | https://www.imdb.com/title/tt0083511/ | 6.9         | 96             | Action, Comedy, Crime, Drama, Thriller    | 66889     | Walter Hill                   | 48 Hrs.                | 1
11    | 8MM                    | 19-02-1999   | 1999 | nan         | https://www.imdb.com/title/tt0134273/ | 6.5         | 123            | Mystery, Thriller                         | 120511    | Joel Schumacher               | 8MM                    | 1
12    | A Dog's Purpose        | 19-01-2017   | 2017 | nan         | https://www.imdb.com/title/tt1753383/ | 7.2         | 100            | Adventure, Comedy, Drama, Family, Fantasy | 62603     | Lasse Hallström               | A Dog's Purpose        | 1
14    | A Good Day to Die Hard | 06-02-2013   | 2013 | nan         | https://www.imdb.com/title/tt1606378/ | 5.3         | 98             | Action, Thriller                          | 194603    | John Moore                    | A Good Day to Die Hard | 1
15    | A Haunted House        | 11-01-2013   | 2013 | nan         | https://www.imdb.com/title/tt2243537/ | 5           | 86             | Comedy, Fantasy                           | 42526     | Michael Tiddes                | A Haunted House        | 1
... (366 rows omitted)

In [36]:
np.average(sequel_movies.where('IMDb Rating',are.above(0)).column('IMDb Rating'))

6.1192148760330571

In [37]:
np.average(original_movies.where('IMDb Rating',are.above(0)).column('IMDb Rating'))

6.7162534435261705

In [33]:
type(sequel_movies.column('IMDb Rating').item(0))

float

## Challenge!

Let's suppose that you had the movies data stored in a USB Drive. You know how computers almost always scream at you for yanking out the USB Drive before you 'eject' it? Usually, nothing happens...

But in this situation, let's say it does and you get the following table below:

In [39]:
movies

index | Title                 | Release Date | Year | Description | URL                                   | IMDb Rating | Runtime (mins) | Genres                                 | Num Votes | Directors                     | Movie Series     | Order
0     | 101 Dalmatians        | 18-11-1996   | 1996 | nan         | https://www.imdb.com/title/tt0115433/ | 5.7         | 103            | Adventure, Comedy, Crime, Family       | 98439     | Stephen Herek                 | 101 Dalmatians   | 1
1     | 102 Dalmatians        | 22-11-2000   | 2000 | nan         | https://www.imdb.com/title/tt0211181/ | 4.9         | 100            | Adventure, Comedy, Family              | 33823     | Kevin Lima                    | 101 Dalmatians   | 2
2     | 12 Rounds             | 19-03-2009   | 2009 | nan         | https://www.imdb.com/title/tt1160368/ | 5.6         | 108            | Action, Crime, Thriller                | 26828     | Renny Harlin                  | 12 Rounds        | 1
3     | 12 Rounds 2: Reloaded | 04-06-2013   | 2013 | nan         | https://www.imdb.com/title/tt2317524/ | 5.3         | 95             | Action, Adventure, Thriller            | 5141      | Roel Reiné                    | 12 Rounds        | 2
4     | 21 Jump Street        | 12-03-2012   | 2012 | nan         | https://www.imdb.com/title/tt1232829/ | 7.2         | 109            | Action, Comedy, Crime                  | 498876    | Christopher Miller, Phil Lord | 21 Jump Street   | 1
5     | 22 Jump Street        | 04-06-2014   | 2014 | nan         | https://www.imdb.com/title/tt2294449/ | 7           | 112            | Action, Comedy, Crime                  | 336672    | Christopher Miller, Phil Lord | 21 Jump Street   | 2
6     | 28 Days Later...      | 01-11-2002   | 2002 | nan         | https://www.imdb.com/title/tt0289043/ | 7.6         | 113            | Drama, Horror, Sci-Fi, Thriller        | 366735    | Danny Boyle                   | 28 Days Later... | 1
7     | 28 Weeks Later        | 26-04-2007   | 2007 | nan         | https://www.imdb.com/title/tt0463854/ | 7           | 100            | Horror, Sci-Fi                         | 253260    | Juan Carlos Fresnadillo       | 28 Days Later... | 2
8     | 30 Days of Night      | 16-10-2007   | 2007 | nan         | https://www.imdb.com/title/tt0389722/ | 6.6         | 113            | Action, Horror, Thriller               | 160930    | David Slade                   | 30 Days of Night | 1
9     | 48 Hrs.               | 08-12-1982   | 1982 | nan         | https://www.imdb.com/title/tt0083511/ | 6.9         | 96             | Action, Comedy, Crime, Drama, Thriller | 66889     | Walter Hill                   | 48 Hrs.          | 1
... (856 rows omitted)

In [43]:
challenge_movies = movies.drop('Order','index','Description','URL','Num Votes','Directors','Release Date').sample(movies.num_rows,with_replacement = False)
challenge_movies

Title                                              | Year | IMDb Rating | Runtime (mins) | Genres                                       | Movie Series
The Secret Life of Pets 2                          | 2019 | 6.5         | 86             | Animation, Adventure, Comedy, Family         | The Secret Life of Pets
Independence Day                                   | 1996 | 7           | 145            | Action, Adventure, Sci-Fi                    | Independence Day
Guardians of the Galaxy Vol. 3                     | 2021 | nan         | nan            | Action, Adventure, Comedy, Sci-Fi, Thriller  | Guardians of the Galaxy
Wall Street                                        | 1987 | 7.4         | 126            | Crime, Drama                                 | Wall Street
Harry Potter and the Deathly Hallows: Part 2       | 2011 | 8.1         | 130            | Adventure, Drama, Fantasy, Mystery           | Harry Potter
Biohazard: Damnation                               | 2012 | 6.5         | 100            | Animation, Action, Horror, Sci-Fi, Thriller  | Biohazard
A Nightmare on Elm Street Part 2: Freddy's Revenge | 1985 | 5.5         | 87             | Horror                                       | A Nightmare on Elm Street
Kung Fu Panda                                      | 2008 | 7.5         | 92             | Animation, Action, Adventure, Comedy, Family | Kung Fu Panda
Universal Soldier: Regeneration                    | 2009 | 5.2         | 97             | Action, Adventure, Sci-Fi                    | Universal Soldier
In the Name of the King: The Last Mission          | 2014 | 3.1         | 86             | Action, Adventure, Fantasy, Thriller         | In the Name of the King
... (856 rows omitted)

### Question: How can we use our methods to re-order our rows back to their original state? We unfortunately lost the columns for good... :(

In [46]:
first_sort = challenge_movies.sort('Movie Series')
first_sort

Title                 | Year | IMDb Rating | Runtime (mins) | Genres                                          | Movie Series
102 Dalmatians        | 2000 | 4.9         | 100            | Adventure, Comedy, Family                       | 101 Dalmatians
101 Dalmatians        | 1996 | 5.7         | 103            | Adventure, Comedy, Crime, Family                | 101 Dalmatians
12 Rounds             | 2009 | 5.6         | 108            | Action, Crime, Thriller                         | 12 Rounds
12 Rounds 2: Reloaded | 2013 | 5.3         | 95             | Action, Adventure, Thriller                     | 12 Rounds
21 Jump Street        | 2012 | 7.2         | 109            | Action, Comedy, Crime                           | 21 Jump Street
22 Jump Street        | 2014 | 7           | 112            | Action, Comedy, Crime                           | 21 Jump Street
28 Weeks Later        | 2007 | 7           | 100            | Horror, Sci-Fi                                  | 28 Days Later...
28 Days Later...      | 2002 | 7.6         | 113            | Drama, Horror, Sci-Fi, Thriller                 | 28 Days Later...
30 Days of Night      | 2007 | 6.6         | 113            | Action, Horror, Thriller                        | 30 Days of Night
Another 48 Hrs.       | 1990 | 5.9         | 93             | Action, Comedy, Crime, Drama, Mystery, Thriller | 48 Hrs.
... (856 rows omitted)

In [48]:
second_sort = first_sort.sort('Title')
second_sort

Title                 | Year | IMDb Rating | Runtime (mins) | Genres                                   | Movie Series
10 Cloverfield Lane   | 2016 | 7.2         | 103            | Drama, Horror, Mystery, Sci-Fi, Thriller | Cloverfield
101 Dalmatians        | 1996 | 5.7         | 103            | Adventure, Comedy, Crime, Family         | 101 Dalmatians
102 Dalmatians        | 2000 | 4.9         | 100            | Adventure, Comedy, Family                | 101 Dalmatians
12 Rounds             | 2009 | 5.6         | 108            | Action, Crime, Thriller                  | 12 Rounds
12 Rounds 2: Reloaded | 2013 | 5.3         | 95             | Action, Adventure, Thriller              | 12 Rounds
2 Fast 2 Furious      | 2003 | 5.9         | 107            | Action, Crime, Thriller                  | The Fast and the Furious
21 Jump Street        | 2012 | 7.2         | 109            | Action, Comedy, Crime                    | 21 Jump Street
22 Jump Street        | 2014 | 7           | 112            | Action, Comedy, Crime                    | 21 Jump Street
28 Days Later...      | 2002 | 7.6         | 113            | Drama, Horror, Sci-Fi, Thriller          | 28 Days Later...
28 Weeks Later        | 2007 | 7           | 100            | Horror, Sci-Fi                           | 28 Days Later...
... (856 rows omitted)

In [52]:
challenge_movies.sort('Year').sort('Movie Series')

Title                 | Year | IMDb Rating | Runtime (mins) | Genres                                 | Movie Series
101 Dalmatians        | 1996 | 5.7         | 103            | Adventure, Comedy, Crime, Family       | 101 Dalmatians
102 Dalmatians        | 2000 | 4.9         | 100            | Adventure, Comedy, Family              | 101 Dalmatians
12 Rounds             | 2009 | 5.6         | 108            | Action, Crime, Thriller                | 12 Rounds
12 Rounds 2: Reloaded | 2013 | 5.3         | 95             | Action, Adventure, Thriller            | 12 Rounds
21 Jump Street        | 2012 | 7.2         | 109            | Action, Comedy, Crime                  | 21 Jump Street
22 Jump Street        | 2014 | 7           | 112            | Action, Comedy, Crime                  | 21 Jump Street
28 Days Later...      | 2002 | 7.6         | 113            | Drama, Horror, Sci-Fi, Thriller        | 28 Days Later...
28 Weeks Later        | 2007 | 7           | 100            | Horror, Sci-Fi                         | 28 Days Later...
30 Days of Night      | 2007 | 6.6         | 113            | Action, Horror, Thriller               | 30 Days of Night
48 Hrs.               | 1982 | 6.9         | 96             | Action, Comedy, Crime, Drama, Thriller | 48 Hrs.
... (856 rows omitted)

#