# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [4]:
import numpy as np
from datascience import *

In [5]:
# These lines set up graphing capabilities.
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', FutureWarning)

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

The previous cell below was the result of our work from the [Lecture Demo on 9/19](https://skyline.cloudbank.2i2c.cloud/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fb00chan%2Fmath211_fall23_skyline&urlpath=tree%2Fmath211_fall23_skyline%2FLecture+Notes%2FLecture+%289_19%29%2FLecture+%289_19%29+Demo+Hub+After.ipynb&branch=main)

In [9]:
math211_survey.show(3)

In [8]:
travel_distances.show(3)

In [3]:
#Please run the cell to load the important functions and data

math211_survey = Table.read_table('Math211_FallSurvey.csv')
travel_distances = Table.read_table('Travel_destination_distances.csv')

def find_travel_distance(destination):
    destination_table = travel_distances.where('Travel Destination',destination)
    distance_array = destination_table.column('Distance (mi)')
    destination_distance = distance_array.item(0)
    return destination_distance

travel_distance_array = math211_survey.apply(find_travel_distance,'travel destination')
survey_with_travel_distances = math211_survey.with_column('Distance to Dest.',travel_distance_array)
survey_with_travel_distances

Timestamp       | Surveyor     | GPA  | introversion/extroversion | Pets                 | Handed       | Sleep Position | K-Pop | K-Pop Group | travel destination | Birthplace                | Transfer destination | Fear                                    | Music Genre | Color      | Distance to Dest.
8/17/2023 16:33 | Christian Le | 2.86 | 6                         | Dogs                 | Right-handed | On my side     | Yes   | Le Sserafim | Japan              | Local                     | UC                   | Working                                 | Pop         | Red        | 5142.42
8/17/2023 16:34 | Christian Le | 4    | 8                         | nan                  | Right-handed | On my back     | Yes   | Le Sserafim | Switzerland        | Local                     | UC                   | A regretful life                        | All         | Black      | 5836.59
8/17/2023 16:38 | Christian Le | 2.5  | 8                         | Cats                 | Right-handed | On my stomach  | Yes   | Seventeen   | Hawaii             | Local                     | UC Transfer          | Death, Spiders                          | R&B, K-POP  | Green      | 2344.8
8/17/2023 16:38 | Christian Le | 3.96 | 6                         | Cats                 | Right-handed | On my side     | Yes   | STAYC       | Costa Rica         | Local                     | UC Grad              | Loss of loved ones                      | R&B, K-POP  | Purple     | 3076.66
8/17/2023 16:54 | Christian Le | 2.98 | 6                         | nan                  | Left-handed  | On my side     | Yes   | New Jeans   | Hawaii             | Local                     | nan                  | Death                                   | R&B         | Green      | 2344.8
8/17/2023 16:55 | Christian Le | 3.8  | 8                         | Dogs                 | Right-handed | On my side     | Yes   | New Jeans   | Hawaii             | Local                     | UC                   | Being alone                             | R&B         | Blue       | 2344.8
8/17/2023 17:00 | Christian Le | 4    | 3                         | nan                  | Right-handed | On my back     | No    | nan         | Japan              | California (not Bay Area) | CSU                  | Not being accepted into career program  | Hip hop     | Khaki      | 5142.42
8/17/2023 18:13 | Christian Le | 4    | 2                         | Cats, Dogs, Reptiles | Both         | On my stomach  | Yes   | New Jeans   | Dubai              | Local                     | UC                   | Insects                                 | Pop         | Red        | 8102.07
8/17/2023 20:38 | Casey So     | 3.86 | 3                         | Dogs                 | Right-handed | On my back     | Yes   | Seventeen   | Korea              | Local                     | UC                   | Birds                                   | Pop         | Light Blue | 5660.08
8/17/2023 20:43 | Casey So     | 3.2  | 4                         | nan                  | Right-handed | On my side     | Yes   | Twice       | Philippines        | Local                     | UC                   | Death                                   | Pop         | Blue       | 6999.15
... (223 rows omitted)

# Joining Tables

As it turns out, we can use the `join` method to achieve the same result without `apply`ing the function.

In [14]:
travel_distances = Table.read_table('Travel_destination_distances.csv')
new_travel_distances = travel_distances.relabel('Travel Destination','travel destination')
new_travel_distances

travel destination        | Distance (mi)
Amsterdam                 | 5459.31
Asia, South Korea,Vietnam | 6765.77
Asia                      | 6765.77
Bangkok                   | 7926.61
Beach                     | 0
Beach, Forests            | 0
Bed                       | 0
Brazil                    | 5447.27
Burma                     | 7678.57
California                | 148.26
... (72 rows omitted)

In [15]:
math211_survey.join('travel destination',new_travel_distances)

travel destination        | Timestamp       | Surveyor     | GPA  | introversion/extroversion | Pets       | Handed       | Sleep Position   | K-Pop | K-Pop Group                                    | Birthplace                | Transfer destination | Fear                 | Music Genre | Color  | Distance (mi)
Amsterdam                 | 8/20/2023 21:30 | Thanh Nguyen | 3.94 | 7                         | nan        | Right-handed | On my side       | Yes   | ICHILLIN', GOT7, Mamamoo, Monsta X, Stray Kids | Local                     | UC                   | Heights              | Pop         | Cream  | 5459.31
Asia                      | 8/18/2023 10:32 | Jonnald      | 2.53 | 5                         | Cats, Dogs | Right-handed | On my side       | No    | nan                                            | Local                     | CSU                  | World Ending         | Hip hop     | Green  | 6765.77
Asia, South Korea,Vietnam | 8/31/2023 16:33 | Christian Le | 4    | 8                         | nan        | Both         | On my side       | Yes   | Red Velvet                                     | Local                     | USC                  | Not liking myself    | R&B         | Gray   | 6765.77
Bangkok                   | 8/18/2023 10:02 | Jackie       | 3.8  | 1                         | Dogs       | Right-handed | On my stomach    | Yes   | IVE                                            | out of country            | UC                   | You                  | Pop         | Pink   | 7926.61
Bangkok                   | 8/21/2023 11:02 | Kaitlyn W    | 3.6  | 6                         | Dogs       | Right-handed | On my back       | Yes   | Big Bang                                       | out of country            | UC                   | Heights              | Pop         | Blue   | 7926.61
Beach                     | 8/21/2023 20:58 | Allison      | 4    | 7                         | Dogs       | Right-handed | On my side       | No    | nan                                            | Local                     | UC                   | My mom               | Hip hop     | Blue   | 0
Beach                     | 8/22/2023 17:04 | Linxue Guo   | 4    | 4                         | Cats       | Left-handed  | On my side       | Yes   | BTS ,GOT7 , SKZ, Mamamoo, Itzy                 | Local                     | UC                   | The ocean/deep water | Hip hop     | Green  | 0
Beach                     | 8/24/2023 10:29 | Kaitlyn W    | 3.49 | 7                         | nan        | Right-handed | On my side       | Yes   | Blackpink                                      | out of country            | UC                   | Drowning             | R&B         | Brown  | 0
Beach                     | 8/31/2023 13:56 | Bea          | 3.71 | 4                         | nan        | Right-handed | All of the above | No    | Blackpink                                      | California (not Bay Area) | UC                   | Being alone          | EDM         | Purple | 0
Beach                     | 8/31/2023 22:46 | Casey So     | 3.8  | 4                         | Dogs       | Right-handed | On my side       | Yes   | Ateez                                          | US (not CA)               | UC                   | not being happy      | Pop         | Green  | 0
... (223 rows omitted)

In [10]:
math211_survey.join('travel destination',travel_distances,'Travel Destination')

travel destination        | Timestamp       | Surveyor     | GPA  | introversion/extroversion | Pets       | Handed       | Sleep Position   | K-Pop | K-Pop Group                                    | Birthplace                | Transfer destination | Fear                 | Music Genre | Color  | Distance (mi)
Amsterdam                 | 8/20/2023 21:30 | Thanh Nguyen | 3.94 | 7                         | nan        | Right-handed | On my side       | Yes   | ICHILLIN', GOT7, Mamamoo, Monsta X, Stray Kids | Local                     | UC                   | Heights              | Pop         | Cream  | 5459.31
Asia                      | 8/18/2023 10:32 | Jonnald      | 2.53 | 5                         | Cats, Dogs | Right-handed | On my side       | No    | nan                                            | Local                     | CSU                  | World Ending         | Hip hop     | Green  | 6765.77
Asia, South Korea,Vietnam | 8/31/2023 16:33 | Christian Le | 4    | 8                         | nan        | Both         | On my side       | Yes   | Red Velvet                                     | Local                     | USC                  | Not liking myself    | R&B         | Gray   | 6765.77
Bangkok                   | 8/18/2023 10:02 | Jackie       | 3.8  | 1                         | Dogs       | Right-handed | On my stomach    | Yes   | IVE                                            | out of country            | UC                   | You                  | Pop         | Pink   | 7926.61
Bangkok                   | 8/21/2023 11:02 | Kaitlyn W    | 3.6  | 6                         | Dogs       | Right-handed | On my back       | Yes   | Big Bang                                       | out of country            | UC                   | Heights              | Pop         | Blue   | 7926.61
Beach                     | 8/21/2023 20:58 | Allison      | 4    | 7                         | Dogs       | Right-handed | On my side       | No    | nan                                            | Local                     | UC                   | My mom               | Hip hop     | Blue   | 0
Beach                     | 8/22/2023 17:04 | Linxue Guo   | 4    | 4                         | Cats       | Left-handed  | On my side       | Yes   | BTS ,GOT7 , SKZ, Mamamoo, Itzy                 | Local                     | UC                   | The ocean/deep water | Hip hop     | Green  | 0
Beach                     | 8/24/2023 10:29 | Kaitlyn W    | 3.49 | 7                         | nan        | Right-handed | On my side       | Yes   | Blackpink                                      | out of country            | UC                   | Drowning             | R&B         | Brown  | 0
Beach                     | 8/31/2023 13:56 | Bea          | 3.71 | 4                         | nan        | Right-handed | All of the above | No    | Blackpink                                      | California (not Bay Area) | UC                   | Being alone          | EDM         | Purple | 0
Beach                     | 8/31/2023 22:46 | Casey So     | 3.8  | 4                         | Dogs       | Right-handed | On my side       | Yes   | Ateez                                          | US (not CA)               | UC                   | not being happy      | Pop         | Green  | 0
... (223 rows omitted)

# Pivoting Data

In [27]:
(survey_with_travel_distances.select('Surveyor','travel destination','Birthplace ','Distance to Dest.','introversion/extroversion')
                                .sort('Distance to Dest.',descending=True)).show(3)

In [29]:
survey_with_travel_distances.pivot('Birthplace ','introversion/extroversion','Distance to Dest.',np.average)

introversion/extroversion | California (not Bay Area) | Local   | US (not CA) | out of country
1                         | 0                         | 3051.53 | 0           | 5898.66
2                         | 6708.69                   | 4245.29 | 0           | 4946.61
3                         | 1894.69                   | 2621.07 | 5142.42     | 3519.95
4                         | 1172.4                    | 3531.68 | 2903.36     | 3769.32
5                         | 867.69                    | 3424.86 | 0           | 4947.48
6                         | 2875.91                   | 3819.3  | 0           | 4144.64
7                         | 3359.18                   | 3681.36 | 3828.67     | 4849.27
8                         | 642.62                    | 3337.49 | 0           | 4360.69
9                         | 0                         | 2140.57 | 0           | 4706.03
10                        | 2570.48                   | 6715.53 | 0           | 1819.36

In [30]:
survey_with_travel_distances.pivot('Birthplace ','introversion/extroversion','Distance to Dest.',max)

introversion/extroversion | California (not Bay Area) | Local   | US (not CA) | out of country
1                         | 0                         | 5592.38 | 0           | 7926.61
2                         | 6899.86                   | 8102.07 | 0           | 5806.71
3                         | 5142.42                   | 6999.15 | 5142.42     | 6999.15
4                         | 2344.8                    | 6999.15 | 5806.71     | 8445.31
5                         | 1575.94                   | 6999.15 | 0           | 7928.19
6                         | 5592.38                   | 6999.15 | 0           | 7926.61
7                         | 5142.42                   | 6999.15 | 5312.54     | 6999.15
8                         | 2570.48                   | 6999.15 | 0           | 7809.68
9                         | 0                         | 4281.14 | 0           | 7809.68
10                        | 2570.48                   | 6715.53 | 0           | 2344.8

In [31]:
survey_with_travel_distances.pivot('Birthplace ','introversion/extroversion','Distance to Dest.',min)

introversion/extroversion | California (not Bay Area) | Local   | US (not CA) | out of country
1                         | 0                         | 2344.8  | 0           | 1600.18
2                         | 6517.52                   | 0       | 0           | 3890.7
3                         | 0                         | 0       | 5142.42     | 0
4                         | 0                         | 0       | 0           | 0
5                         | 159.44                    | 0       | 0           | 0
6                         | 159.44                    | 0       | 0           | 0
7                         | 1575.94                   | 0       | 2344.8      | 0
8                         | 0                         | 0       | 0           | 9.99
9                         | 0                         | 0       | 0           | 0
10                        | 2570.48                   | 6715.53 | 0           | 1293.92